<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.cmfz.dao.LogDAO">
    
    <resultMap type="com.hz.cmfz.entity.Log" id="LogResultMap">
    <id property="logId" column="log_id"/>
        <result property="username" column="username"/>
        <result property="time" column="time"/>
        <result property="resource" column="resource"/>
        <result property="action" column="action"/>
        <result property="message" column="message"/>
        <result property="result" column="result"/>
    </resultMap>

    <select id="selectAll" resultMap="LogResultMap">
        select * from log limit #{begin},#{showSize}
    </select>

    <select id="countLog" resultType="int">
        select count(*) from log
    </select>

    <insert id="insert">
        insert into log
        values(#{logId},#{username},#{time},#{resource},#{action},#{message},#{result})
    </insert>


</mapper>
