<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.cmfz.dao.MasterDAO">
    
    <resultMap type="com.hz.cmfz.entity.Master" id="MasterResultMap">
    <id property="masterId" column="master_id"/>
        <result property="masterName" column="master_name"/>
        <result property="masterPhoto" column="master_photo"/>
        <result property="masterSummary" column="master_summary"/>

    </resultMap>
    <select id="selectAll" resultMap="MasterResultMap">
        select * from master <if test="dim!=null">where master_name like #{dim}</if>
        limit #{begin},#{showSize}
    </select>

    <select id="selectName" resultMap="MasterResultMap">
        select master_id,master_name,master_photo,master_summary from master
    </select>

    <select id="select" resultMap="MasterResultMap">
        select * from master where master_id =#{masterId}
    </select>
    
    <select id="countMaster" resultType="int">
        select count(*) from master
        <if test="dim!=null">where master_name like #{dim}</if>
    </select>

    <insert id="insert">
        insert into master values (#{masterId},#{masterName},#{masterPhoto},#{masterSummary})
    </insert>

    <select id="downloadAll" resultMap="MasterResultMap">
        select * from master
    </select>

    <update id="update">
        update master set master_name=#{masterName},master_photo=#{masterPhoto},master_summary=#{masterSummary} where master_id=#{masterId}
    </update>

    <delete id="delete">
        delete from master where master_id=#{masterId}
    </delete>
</mapper>
